<section class="main">
    <div class="container-fluid">
        <h2>Hello admin!</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#" routerLink="/admin/dashbaord">Dashboard</a></li>
            </ol>
        </nav>
        <div class="alert alert-success" role="alert">
            <i class="fa fa-bullhorn" aria-hidden="true"></i> Welcome to your admin dashbaord!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row cards-block">
            <div class="col-3">
                <div class="card-wrap">
                    <div class="card-content">
                        <div class="icon">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </div>
                        <div class="info">
                            <h2>6</h2>
                            <h6>Blogs</h6>
                        </div>
                    </div>
                    <a href="#" routerLink="/admin/blogs" class="link-block">
                        View 
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>    
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card-wrap yellow">
                    <div class="card-content">
                        <div class="icon">
                            <i class="fa fa-tags" aria-hidden="true"></i>
                        </div>
                        <div class="info">
                            <h2>6</h2>
                            <h6>Categories</h6>
                        </div>
                    </div>
                    <a href="#" class="link-block">
                        View 
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>    
                    </a>
                </div>
            </div>     
            <div class="col-3">
                <div class="card-wrap green">
                    <div class="card-content">
                        <div class="icon">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div class="info">
                            <h2>6</h2>
                            <h6>Published</h6>
                        </div>
                    </div>
                    <a href="#" class="link-block">
                        View 
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>    
                    </a>
                </div>
            </div>      
            <div class="col-3">
                <div class="card-wrap red">
                    <div class="card-content">
                        <div class="icon">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                        </div>
                        <div class="info">
                            <h2>6</h2>
                            <h6>Drafts</h6>
                        </div>
                    </div>
                    <a href="#" class="link-block">
                        View 
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>    
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card-wrap green">
                    <div class="card-content">
                        <div class="icon">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                        </div>
                        <div class="info">
                            <h2>6</h2>
                            <h6>Editors Choice</h6>
                        </div>
                    </div>
                    <a href="#" class="link-block">
                        View 
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>    
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card-wrap">
                    <div class="card-content">
                        <div class="icon">
                            <i class="fa fa-table" aria-hidden="true"></i>
                        </div>
                        <div class="info">
                            <h2>6</h2>
                            <h6>Admin Stats</h6>
                        </div>
                    </div>
                    <a href="#" class="link-block">
                        View 
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>    
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>