<section class="blogs">
    <div class="row">
        <div class="col-4" *ngFor="let blog of allBlogs; let i = index">
            <div class="card-wrap">
                <div class="img-wrap">
                    <img [src]="blog['imageUrl']" [alt]="blog['title']">
                    <div class="blog-info">
                        <span class="cat">{{ blog['category'] | titlecase }}</span>
                        <span class="date">{{ (blog['publishedAt']) | blogDate }}</span>
                    </div>
                </div>
                <h5>{{ blog['title'] }}</h5>
                <p [innerHtml]="blog['body']"></p>
                <a href="#" [routerLink]="['/blogs/' + blog._id]">Read More</a>
            </div>
        </div>
    </div>
</section>