.navbar {
    .navbar-brand {
        color: #fff;
    }
    .navbar-nav {
        li {
            margin-left: 10px;
            a {
                color: #fff;
            }
            .dropdown-menu {
                left: -60px;
                min-width: auto;
                a {
                    color: #000;
                    transition: all .3s ease;
                    &:hover {
                        background: #828282;
                        color: #fff;
                    }
                }
            }
        }     
    }
}