<section class="banner">
    <div class="slider-wrap">
        <ngx-slick-carousel class="slider-wrap" [config]="slideConfig">
            <div ngxSlickItem class="slide-item" *ngFor="let blog of featuredBlogs.slice(0,6)">
                <a href="#" [routerLink]="['/blogs/' + blog._id]">
                    <div class="slide-img">
                        <img [src]="blog['imageUrl']" alt="">
                    </div>
                    <div class="slide-content">
                        <p>Featured &#9670; <span class="cat">{{ blog['category'] | titlecase }}</span></p>
                        <h5>{{ blog['title'] }}</h5>
                        <p><span class="date">{{ blog['publishedAt'] | blogDate }}</span></p>
                    </div>
                </a>
            </div>
        </ngx-slick-carousel>
    </div>
</section>