.blogs-with-sidebar {
    padding: 60px 0;
    .blog-col {
        padding-right: 0;
    }
    .sidebar-col {
        padding-left: 30px;
    }
}

.spinner-border {
    height: 5rem;
    width: 5rem;
    display: block;
    margin: 80px auto 0;
}