<header class="header">
    <div class="container">
        <div class="inner-wrap">
            <div class="logo-row">
                <h2 class="text-center">
                    <a href="#">
                        <img src="../../../../assets/logo.png" alt="logo">
                    </a>
                </h2>
            </div>
            <nav class="nav-menu">
                <ul>
                    <li *ngFor="let cat of blogsCat">
                        <a (click)="catChanged(cat)" [ngClass]="{'active': currentCat === cat }">{{ cat }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>