<aside class="aside bg-dark">
    <ul class="links">
        <li>
            <a href="#" routerLink="/admin/dashboard" routerLinkActive="active"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li>
            <a href="#" routerLink="/admin/blogs" routerLinkActive="active"><i class="fa fa-rss" aria-hidden="true"></i> Blogs</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-tags" aria-hidden="true"></i> Categories</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-check" aria-hidden="true"></i> Published</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-tasks" aria-hidden="true"></i> Drafts</a>
        </li>
    </ul>
</aside>